{% extends "base.html" %}
<!doctype html>
<html lang="en" class="h-100">
    <a class="nav-link active" aria-current="page" href="/how_it_works">How It Works</a> 

        {% block title %}Contact Information{% endblock %}

        {% block content %}
            <h1 class="display-1">Blake Sha</h1>
            <br><br>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="mailto: blake.sha@mg.thedataincubator.com" target="_blank" rel="noopener noreferrer">
                            <img src="/static/images/icons/email.png" alt="Email icon" class='img-fluid' width="150px">
                        </a>
                        <br><br>
                        <p class="important">
                            <a href="mailto: blake.sha@mg.thedataincubator.com" target="_blank" rel="noopener noreferrer">blake.sha@mg.thedataincubator.com</a>
                        </p>
                    </div>

                    <div class="col">
                        <a href="https://www.linkedin.com/in/blakesha" target="_blank" rel="noopener noreferrer">
                            <img src="/static/images/icons/linkedin.png" alt="LinkedIn icon" class='img-fluid' width="150px">
                        </a>
                        <br><br>
                        <p class="important">
                            <a href="https://www.linkedin.com/in/blakesha" target="_blank" rel="noopener noreferrer">linkedin.com/in/blakesha</a>
                        </p>
                    </div>

                    <div class="col">
                        <a href="https://www.github.com/bsha6" target="_blank" rel="noopener noreferrer">
                            <img src="/static/images/icons/github.png" alt="GitHub icon" class='img-fluid' width="150px">
                        </a>
                        <br><br>
                        <p class="important">
                            <a href="https://www.github.com/bsha6" target="_blank" rel="noopener noreferrer">github.com/bsha6</a>
                        </p>
                    </div>
                </div>
            </div>

        {% endblock %}
