{% extends "base.html" %}
<!doctype html>
<html lang="en" class="h-100">
    <a class="nav-link active" aria-current="page" href="/how_it_works">How It Works</a> 

        {% block title %}Contact Information{% endblock %}

<!-- {% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %} -->

        {% block content %}
            <h1>Contact Information</h1>
            <p class="important">
            Email: blakesha6@gmail.com
            </p>
        {% endblock %}
