{% extends "base.html" %}
<!doctype html>
<html lang="en" class="h-100">
    <a class="nav-link active" aria-current="page" href="/how_it_works">How It Works</a> 

        {% block title %}How It Works{% endblock %}

<!-- {% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %} -->

        {% block content %}
            <h1>How It Works</h1>
            <br><br>
            <!-- <h3>Model Diagram:</h3>  -->
            <img src="/static/images/parking_model_diagram.png" alt="Model Diagram" class='img-fluid'>

        {% endblock %}
