{% extends "base.html" %}
<!doctype html>
<html lang="en" class="h-100">
    <!-- <a class="nav-link active" aria-current="page" href="/how_it_works">How It Works</a>  -->

        {% block title %}How It Works{% endblock %}

<!-- {% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %} -->

        {% block content %}
            <h1>How It Works</h1>
            <br><br>
            <h3>Model Diagram:</h3> 
            <img src="/static/images/parking_model_diagram/Slide1.png" alt="Model Diagram" class='img-fluid'>
            <h3>Model Comparison:</h3> 
            <img src="/static/images/parking_model_diagram/Slide2.png" alt="Model Comparison Chart" class='img-fluid'>

        {% endblock %}
